<div class="user_form">
  <div class="avatar">
    <h2>Edit @<%= resource.username %></h2>
    <% if resource.avatar.attached? %>
      <%= image_tag resource.avatar, class: "avatar-mini" %>
    <% end %>
  </div>
  <p><i>Leave field blank if you don't want to change it</i></p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username, autocomplete: "new-password", required: "" %>
      <span></span>
    </div>

    <div class="field">
      <%= f.label :password, 'New password' %>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <span></span>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'Confirm new password' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password"%>
      <span></span>
    </div>

    <div class="field">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: "current-password", required: "" %>
      <span></span>
    </div>

    <div class="row">
      <div class="field">
        <%= f.label :avatar, 'Profile photo' %>
        <%= f.file_field :avatar, :id => "imgInp" %>
      </div>
      <div class="field">
        <%= image_tag 'default_preview.png', id: 'blah', alt: "Preview", class: 'avatar-mini' %>
      </div>
    </div>

    <div class="form-button">
      <%= f.submit "Update", class: 'button' %>
    </div>
  <% end %>
</div>



<div class="container">
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="line">
    <div>Don`t emplore your avatar photo?</div>
    <%= button_to "Delete avatar picture", profile_avatar_path, data: { confirm: "Are you sure?" }, method: :delete, class: 'button delete' %>
  </div>  
  <div class="line">
    <div>Want to leave us?</div>
    <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button delete_account' %>
  </div>

</div>