<div class="comment" id="comment_<%= comment.id %>">
    <div class="left">
        
        <% if comment.user.avatar.attached? %>
            <div class="avatar">
                <%= link_to (image_tag comment.user.avatar, class: "avatar-link"), profile_path(comment.user)%>
            </div>
        <% else %>
            <div class="avatar">
                <%= link_to (image_tag 'default_avatar.jpg', class: "avatar-link"), profile_path(comment.user) %>
            </div>
        <% end %>

        <% if current_user == comment.user %>
            <%= button_to "Del", [post, comment], class: 'button delete', method: :delete %>
        <% end %>
    </div>

<div class="right">
        <div class="field">
            <div>
                <%= (comment.user.username) %>
            </div>
            <div class="date">
                <%= (comment.created_at).day%>.<%= (comment.created_at).month %>
            </div>
        </div>
        <div class="field">
            <p><%= comment.body %></p>
            <% if user_signed_in? %>
                <%= render 'likes/private_button', post: post, comment: comment, like_status: like_status %>
            <% else %>
                <%= render 'likes/like_count', comment: comment %>
            <% end %>
        </div>
    </div>
</div>
