<div class="uni_form">
    <%= search_form_for @q, url: search_path, method: :get do |f| %>
    <div class="field">
        <%= f.search_field :tags_i_cont_any, placeholder: (t "Search..."), class: '' %>
        <%= f.submit (t "Find"), class: 'button' %>
    </div>

    <div class="radios">
        <div class="field">
            <input type="radio" name="only" value="posts" id="only">
            <label for="only"><%= (t "Posts only" ) %></label>
        </div>
        <div class="field">
            <input type="radio" name="only" value="users" id="only2">
            <label for="only2"><%= (t "Users only")%></label>
        </div>
    </div>
    <% end %>
</div>


