<div class="form">
    <%= form_with(model: @user) do |form| %>
        <div class="line">
            <%= form.label :username, 'Login' %>
            <%= form.text_field :username, required: true %>
        </div>
        <div class="line">
            <%= form.label :email, 'Email' %>
            <%= form.text_field :email, required: true %>
        </div>
        <div class="line">
            <%= form.label :password, 'Password' %>
            <%= form.password_field :password, required: true %>
        </div>
        <!--
        <div class="line">
            <%= form.label :password_confirmation, 'Password_confirmation' %>
            <%= form.password_field :password_confirmation, required: true %>
        </div>
        -->
        <div class="submit">
            <%= form.submit "Submit", class: 'button', required: true %>
        </div>
    <% end %>
</div>