<div class="form">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.text_field :username, autofocus: true, autocomplete: "", required: true %>
      <%= f.label :username %>
      <span></span>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", required: true %>
      <%= f.label :password %>
      <span></span>
    </div>

    <div class="form-button">
      <%= f.submit "Log in", class: "button" %>
    </div>
  <% end %>
</div>
<%= render "devise/shared/links" %>
