<div class="container" id="chatroom_container">

    <%= turbo_stream_from "users" %>
    <div id="user_container">
        <div class="current_user">
            <%= render 'search/avatar', user: current_user %>
            <div class="name"><%= current_user.username.capitalize %> <%= (t "chats") %> </div>
        </div>
        <div id="users">
            <% @users.each do |user| %>
                <%= render 'rooms/user', user: user %>
            <% end %>
        </div>
    </div>

    <div id="chat_container">
        <% if @single_room %>
            <div id="single_room">
                <%= turbo_stream_from @single_room %>
                <%= render 'rooms/header', user: @user %>
                <div id="messages">
                    <%= render @messages %>
                </div>
                <%= render 'rooms/message_form' %>
            </div>
        <% end %>
    </div>
</div>
