<div class="book_form">
  <%= form_with(model: post) do |form| %>
    <% if post.errors.any? %>
      <div class="container">
          <ul>
          <% post.errors.each do |error| %>
            <li class="error-text"><%= error.full_message %></li>
          <% end %>
          </ul>
      </div>
    <% end %>

    <div class="book">
      <div class="left">
        <div class="field">
          <%= form.label :description %>
          <%= form.text_area :description %>
        </div>

        <div class="field">
          <%= form.label :tags, "Tags #" %>
          <%= form.text_field :tags %>
        </div>        
      </div>

      <div class="right">
        <div class="field">
          <%= image_tag 'default_preview.png', id: 'blah', alt: "Preview", class: 'post_picture_big' %>
        </div>
      </div>
    </div>

    <div class="bottom">
      <div class="field">
        <%= form.file_field :picture, :id => "imgInp" %>
      </div>   
      <div class="field">
        <%= form.submit 'Save', class: 'button' %>
      </div>
    </div>
     
  <% end %>
</div>
