<div class="book_form" id="<%= dom_id post %>">
  <div class="book">
      <div class="left">
        <div class="container smart">
          <div class="avatar">
              <% if post.user.avatar.attached? %>
                  <%= link_to (image_tag @post.user.avatar, class: "avatar-mini"), profile_path(post.user) %>
              <% else %>
                  <%= link_to (image_tag 'default_avatar.jpg', class: "avatar-mini"), profile_path(post.user) %>
              <% end %>
          </div>
          <div class="name">
              <%= post.user.username.capitalize %> book  
          </div>
        </div>
        
        <div class="big_text">
        <% unless post.description.empty? %>
          <div class="field">
            <p>Writing:</p>
            <p><%= post.description %></p>
          </div>
        <% end %>

          <div class="field">
            <p>Tags #</p>
            <p><%= post.tags %></p>
          </div>
        </div>        
      </div>

      <div class="right">
        <div class="field">
          <%= link_to (image_tag post.picture, class: "post_picture_big"), post.picture %>
        </div>
      </div>
  </div>
</div>
