<%= render @post %>

<div class="container comments">
    <%= render 'comments/form', post: @post, comment: @post.comments.build %>
    
    <% @comments.each do |comment| %>
        <%= render 'comments/comment', post: @post, comment: comment %>
    <% end %>
</div>

<% if @post.user == current_user %>
<div class="line">
  <%= link_to "Edit this post", edit_post_path(@post), class: 'button' %>
  <%= button_to "Destroy this post", @post, method: :delete, class: 'button delete' %>
</div>
<% end %>
