<%= render 'menu', user: @user%>

<%= render 'avatar', user: @user%>
<%= render 'profile/follower_count', user: @user %>
<div><%= @user.followees.count %> following</div>

<% if user_signed_in? && (current_user != @user) %>
  <%= render 'profile/follow_button', user: @user %>
<% end %>

<%= render 'posts/posts', posts_by_three: @posts_by_three%>