<%= render 'menu', user: @user%>

<div class="conatiner">
  <%= render 'avatar', user: @user%>
  <%= render 'profile/follower_count', user: @user %>

  <% if user_signed_in? && (current_user != @user) %>
  <div class="line center">
    <%= render 'profile/follow_button', user: @user %>
    <%= render 'profile/message_button', user: @user %>
  </div>
  <% end %>
</div>
<%= render 'search/blocks', blocks_by_three: @posts_by_three%>