<header>
      <nav class="navbar sticky">
        <div class="nav-brand">
          <%= link_to (image_tag('logo.png')), root_path %></a>
        </div>
        <div class="nav-pages">
          <div>
            <%= link_to 'Search', search_path, class: 'nav-link' %>
          </div>
          <div>
            <%= link_to 'Lines', root_path, class: 'nav-link' %>
          </div>
          <div>
            <%= link_to 'Interest', home_show_path, class: 'nav-link' %>
          </div>
          <div>
            <%= link_to 'Add post', new_post_path, class: 'nav-link' %>
          </div>
          <div>
            <%= link_to 'Messages', '/', class: 'nav-link' %>
          </div>
          <% if user_signed_in? %>
            <% if current_user.avatar.attached? %>
              <div> <!-- edit_user_registration_path -->
                <%= link_to (image_tag(current_user.avatar, class: 'avatar-link')), profile_path(current_user), class: 'nav-link' %>
              </div>
            <% else %>
              <div>
                <%= link_to 'Profile', profile_path(current_user), class: 'nav-link' %>
              </div>
            <% end %>
          <% else %>
            <div>
              <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
            </div>
          <% end %>
        </div>
      </nav>
</header>