<!DOCTYPE html>
<html>
  <head>
    <title>IDance</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  
    <%= render 'layouts/navbar' %>

    <%= render 'layouts/error' %>

    <main>
      <div class="container">
        <%= yield %>
      <div>
    </main>
    
    <%= render 'layouts/footer' %>
  </body>
  <script>
    imgInp.onchange = evt => {
    const [file] = imgInp.files
    if (file) {
        blah.src = URL.createObjectURL(file)
    }
    }

    function toggle_open(el) {
      el.classList.toggle('open');
    }

  </script>
</html>
